.card-text {
  text-align: center;
}
.WeatherForecast {
  opacity: 0.4;
  color: black;
  margin-top: 15px;
}
.WeatherForecast .temperature {
  margin-top: 10px;
}
.WeatherForecast .day {
  margin-bottom: 10px;
  text-align: center;
}
.WeatherForecast .temperature-max,
.WeatherForecast .day {
  font-weight: 700;
  margin-right: 5px;
}
.WeatherForecast canvas {
  text-align: center;
}
